<header class='home-header'>
    <nav class='navbar'>
        <div>
            <a class='navbar-brand'>
                <img class='logo' src="assets/Images/logo.png" alt="Brand Logo">
            </a>
        </div>
        <div class='navbar-list mt-68'>
            <ul class='navbar-nav'>
                <li class='nav-item'>
                    <a class='nav-link' href='#'>Products</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='#'>Solutions</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='#'>Pricing</a>
                </li>
            </ul>
        </div>
        <div class='navbar-button'>
            <button class='login-btn'>Login</button>
            <button class='get-started-btn'>Get Started</button>
        </div>
    </nav>
</header>