@media only screen and (min-width: 1365px) and (max-width: 1677px){
    
    .home-header > .navbar > .navbar-list > .navbar-nav > .nav-item,
    .home-header .navbar-button .login-btn,
    .home-header .navbar-button .get-started-btn
    {
        margin-left: 30px;
    }

    .home-header > .navbar > .navbar-list > .navbar-nav > .nav-item > .nav-link{
        font-size: 20px;
    }

    .home-header .navbar-button .login-btn,
    .home-header .navbar-button .get-started-btn{
        font-size: 15px;
    }

    .home-header .navbar-button{
        margin-top: 59px;
    }

}